/* Desktop uniquement */
@media screen and (min-width : 1024px) {
    .bg-image {
        color: white;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/public/img/hero-bg.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding : 200px
    }
    
}

/* Tablette uniquement */
@media screen and (min-width : 720px) and (max-width : 1023px) {
    .bg-image {
        color: white;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/public/img/hero-bg-tablette.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding : 100px
    }
}

/* Mobile uniquement */
@media screen and (max-width : 719px) {
    .bg-image {
        color: white;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/public/img/hero-bg-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding : 50px
    }
}

h3 {
    padding : 5px;
    color: #1e1e1e
}

p {
    color: #444;
}

.progress {
    margin-bottom: 20px
}

.bg-danger {
    width: 90%;
}

.bg-info {
    width: 80%;
}

.bg-warning {
    width: 70%;
}

.bg-success {
    width: 60%;
}

.bg-react {
    width: 50%;
}