/* Font Nunito Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');

/* Font Nunito SemiBold 600*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,600;1,6..12,600&display=swap');

h1, h2, h3, h4, h5{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  color: #1e1e1e;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


.navbar {
  background-color: #444;
}

.navbar-nav a {
  color: #fff;
}

footer {
    background-color: #EEE;
    padding: 20px 0;
    font-family: "Nunito Sans", sans-serif;
}

footer a {
  color: black;
  text-decoration: none;
}

footer img {
  width: 2em;
  margin: 0.5em;
}

.copyright {
  padding: 5px;
  background-color: #1e1e1e;
  background-size: 100%;
  color: white;
}

a:hover {
  color: rgba(255, 255, 255, 0.8);

}

.img-circle {
  border-radius: 50%;
}
